body {
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: black;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: red;
	width: 100%;
}

nav {
	font-size: 30px;
    float: right;
}

.center{
	text-align:center;
}

button {
	background-color: green;
	padding: 8px;
}

button:hover {
	font-weight: bold;
}

button:active {
    color: purple;
}

.tela {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}

.texto {
	font-size: 30px;
    float: left;
    width: 500px;
}

.listaNav {
	list-style-type: none;
}

.gif {
	width: 425px; height: 862px; object-fit: cover;
}

input {
	width: 30%;
	color: white;
	background-color: black;
	box-sizing: border-box;
	border: 2px solid red;
	padding: 8px;
}

#Download {
	padding: 50px;
}

footer {
	text-align: center;
	padding: 8px;
}
